.date-range-filter{ margin:30px 0; display:flex; align-items:center;}
.date-range-filter label{ font-weight:600; }
.date-range-filter .hasDatepicker{ margin:0 30px 0 15px; }
.date-range-filter #sort-date-range{ margin-left:30px }
.date-range-filter #commission-type{ margin-left:15px; min-width:200px; min-height:34px; } 
#filter-selling-order, #filter-pick-order{ margin-left:30px; } 
select.school-dropdown, select.pick-school-dropdown{ margin-left:15px; }
#table-selling-order_wrapper .table, #table-pick-order_wrapper .table { border:1px solid #c3c4c7; box-shadow: 0 1px 1px rgba(0,0,0,.04); font-size:14px;}
table.dataTable.table-striped>tbody>tr.odd>*{ box-shadow:none!important; background-color:#f6f7f7!important  }
table.dataTable.table-striped>tbody>tr.odd{ background-color:#f6f7f7!important }
.active>.page-link, .page-link.active{ color:#fff!important; background-color:#2271b1!important; border-color:#2271b1!important}
.page-link{ color:#2271b1!important;}
.pick-school-dropdown, .pick-class-dropdown, .pick-seller-dropdown {margin: 0 30px 0 15px;}